body {
  padding: 20px;
  background-color: #f0f0f0;
  font-family: "HelveticaNeue", Helvetica, arial;
}
section#page {
  width: 500px;
  margin: 0 auto;
  padding: 20px 50px;
  background-color: #fff;
}
header h1 {
  margin: 0;
}
footer p {
  font-size: 11px;
  color: #555;
}
